* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
html {
    font-size: 62.5%;
    font-family: "DM Sans", sans-serif;
}
body {
    /* background-image: url('./img/img1.jpg');
    background-size: cover;
    background-blend-mode: difference; */
    background-color: whitesmoke;
}

.plans__header {
    background-image: linear-gradient(to right top, #2a3269, #388b97, #3d7394, #2b8095, #3c979e);
    box-shadow: 1px 3px 12px #2a859f;
    
}
.plans__header h1 {
    padding: 3rem;
    font-size: 3rem;
    text-align: center;
    color: #e1ddda;
}
.plans__container--slider {
    display: grid;
    place-content: center;
}
.plans__container--card {
    margin-top: 4rem;
    margin-bottom: 1.6rem;
    max-width: 30rem;
    height: 55rem;
    background-color: whitesmoke;
    border-radius: 1rem;
    box-shadow: 1px 3px 12px #2a859f;
    
}
.plans__container--card .plans__container--header {
    width: 100%;

    padding: 1rem;
    text-align: center;
    border-radius: 1rem 1rem 0 0;
}
.plans__container--header {
    font-size: 1.4rem;
}
.plans__container--body {
    width: 100%;
    height: 91%;
    background-color: rgba(245, 245, 245, 0.05);
    backdrop-filter: blur(8px);
    border-radius: 15px;
    

}
.plans__container--info {
    font-size: 1.8rem;
    padding: 1rem 1rem 0 1rem;


}
.plans__container--info ul {
    padding: 2rem 2rem 0 2rem;
}
.plans__container--info li {
    list-style: none;
    position: relative;
    padding-left: 3rem;
    padding-bottom: 1rem;
}
.plans__container--info li::before {
    content: "\2714";
    position: absolute;
    left: 0;

}
.plans__container--pricing {
    font-size: 2rem;
    font-family: "DM Sans", sans-serif;
    text-align: center;
    line-height: 3rem;
}
.plans__container--pricing p {
    font-size: 4rem;
    font-weight: 700;
}

.first-pricing {
    margin-top: 8rem;
}
.third-pricing {
    margin-top: 5.75rem;
}

.basico, .profesional {
    background-color: #343956;
    background-image: url('./img/6.jpg');
    background-size: cover;
    
    color: #e1ddda;
}
.basico--header, .profesional--header {
    background-color: rgb(70 171 157 / 50%);
    color: #e1ddda;
}

.emprendedor {
    background-image: url('./img/9.jpg');
    background-size: cover;
    color: #e1ddda;
}

.emprendedor--header {
    background-color: #474b53;
    color: #e1ddda;
}
.button__container {
    display: flex;
    justify-content: center;
}

.button {
    display: inline-block;
    padding: 12px 24px;
    border: 1px solid #4f4f4f;
    border-radius: 10px;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    cursor: pointer;
    background-color: rgba(225, 221, 218, 0.5);
   }
.button a {
    text-decoration: none;
    color: rgb(0 0 0 / 60%);
   }

.button:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}
   
.button:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #a0ba97;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
}

.button:hover {
    border: 1px solid whitesmoke;
}
   
.button:hover:before {
    top: -35%;
    background-color: whitesmoke;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}
   
.button:hover:after {
    top: -45%;
    background-color: whitesmoke;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
}

footer {
    text-align: center;
    font-size: 1.4rem;
    color: rgb(78 84 75);
    font-family: 'DM Sans', sans-serif;
   }
@media (min-width: 1000px) {
    .plans__container--slider {
        display: flex;
        gap: 2rem;
    }
}